version: '3'
services:

  wallabag:
    build:
      context: wallabag/
    env_file:
      - env.mariadb
    environment:
      - VIRTUAL_HOST=wallabag
    ports:
      - 80
    networks:
      - wallabag_backend
      - nginx_backend

  wallabag_data:
    image: mariadb
    env_file:
      - env.mariadb
    volumes:
      - /srv/www/wallabag:/var/lib/mysql
    networks:
      - wallabag_backend

networks:
  wallabag_backend:
  nginx_backend:
    external: true
