version: '2'
services:
  wallabag:
    build:
      context: wallabag/
    environment:
      - VIRTUAL_HOST=wallabag
    env_file:
      - env.mariadb
    ports:
      - "80"
    #volumes:
    #  - /srv/www/wallabag:/var/www/wallabag/data
    networks:
      - back
      - front
  db:
    image: mariadb
    env_file:
      - env.mariadb
    volumes:
      - /srv/www/wallabag:/var/lib/mysql
    networks:
      - back
networks:
  back:
  front:
    external:
      name: nginx_default
