version: '2'
services:

  mopidy:
    build:
      context: mopidy/
    restart: on-failure:10
    volumes:
      - /home/marv/Media/Musik:/var/lib/mopidy/media:ro
      - /opt/mopidy/local:/var/lib/mopidy/.local
      - /opt/mopidy/mopidy.conf:/var/lib/mopidy/.config/mopidy/mopidy.conf
    ports:
      - "1704:1704"
      - "1705:1705"
      - "6600:6600"
      - "6680:6680"
    logging:
      options:
        max-size: 5m

  upmpdcli:
    build:
      context: upmpdcli/
    command: gosu upmpdcli upmpdcli -h 192.168.39.115
    network_mode: "host"
