version: '2'
services:

  mopidy:
    build:
      context: mopidy/
    restart: on-failure:10
    volumes:
      - /home/marv/Media/Musik:/var/lib/mopidy/media:ro
      - /opt/mopidy/local:/var/lib/mopidy/.local
      - /opt/mopidy/.config:/var/lib/mopidy/.config
    volumes_from:
      - snapserver
    ports:
      - "6600:6600"
      - "6680:6680"
    logging:
      options:
        max-size: 5m
    depends_on:
      - snapserver

  snapserver:
    build:
      context: snapserver/
    ports:
      - "1704:1704"
      - "1705:1705"
    restart: on-failure:10
    logging:
      options:
        max-size: 5m
