version: '2'
services:

  mopidy:
    build:
      context: mopidy/
    command: mopidy --config /etc/mopidy/mopidy.conf
    volumes:
      - /home/marv/Media/Musik:/var/lib/mopidy/media:ro
      - /opt/mopidy/mopidy.conf:/var/lib/mopidy/.config/mopidy/mopidy.conf:ro
      - /opt/mopidy/local:/var/lib/mopidy/.local
    ports:
      - "6600:6600"
      - "6680:6680"

  icecast:
    build:
      context: icecast/
    ports:
      - "8000:8000"
