version: '2'
services:

  synapse:
    build:
      context: synapse/
      args:
        - BV_SYN=develop
    ports:
      - "8008"
    volumes:
      - "/opt/synapse:/data"
    command: start
    environment:
      - VIRTUAL_HOST=synapse
      - VIRTUAL_PORT=8008
    logging:
      options:
        max-size: 5m

  db:
    image: postgres:alpine
    volumes:
      - "/opt/synapse_db:/var/lib/postgresql/data"

  matrix-ircd:
    build:
      context: matrix-ircd/
    ports:
      - "5999:5999"
    volumes:
      - "/opt/synapse:/opt/synapse"
    command: gosu matrix cargo run -- --url https://matrix.xsteadfastx.org --bind 0.0.0.0:5999 --cert /opt/synapse/fullchain.pem --pkey /opt/synapse/privkey.pem

networks:
  default:
    external:
      name: nginx_default
