version: '3'
services:

  synapse:
    build:
      context: synapse/
      args:
        - BV_SYN=v0.22.1
    restart: always
    ports:
      - "8008"
    volumes:
      - "/opt/synapse:/data"
    command: start
    environment:
      - VIRTUAL_HOST=synapse
      - VIRTUAL_PORT=8008
    logging:
      options:
        max-size: 5m

  synapse_data:
    image: postgres:alpine
    volumes:
      - "/opt/synapse_db:/var/lib/postgresql/data"

  matrix-ircd:
    build:
      context: matrix-ircd/
    ports:
      - "5999:5999"
    command: gosu matrix cargo run -- --url https://matrix.xsteadfastx.org --bind 0.0.0.0:5999

networks:
  default:
    external:
      name: nginx_default
