[submodule "wallabag/wallabag"]
	path = wallabag/wallabag
	url = https://github.com/xsteadfastx/wallabag.git
[submodule "synapse/synapse"]
	path = synapse/synapse
	url = https://github.com/xsteadfastx/docker-matrix.git
[submodule "tox-python"]
	path = tox-python
	url = https://github.com/xsteadfastx/tox-python-new.git
