[submodule "wallabag/wallabag"]
	path = wallabag/wallabag
	url = https://github.com/xsteadfastx/wallabag.git
[submodule "synapse/synapse"]
	path = synapse/synapse
	url = https://github.com/xsteadfastx/docker-matrix.git
[submodule "mastodon/mastodon"]
	path = mastodon/mastodon
	url = https://github.com/xsteadfastx/mastodon.git
