version: '3'
services:
  emby:
    image: emby/embyserver
    ports:
      - "8096:8096"
      - "8920:8920"
      - "7359:7359/udp"
      #- "1900:1900/udp"
    volumes:
      - "/srv/www/emby/config:/config"
      - "/home/marv/Media/Musik:/media/Musik:ro"
      - "/home/marv/Media/Videos:/media/Videos"
      - "/home/marv/Downloads/putio:/downloads/putio"
    environment:
      - TZ=Europe/Berlin
      - AUTO_UPDATES_ON=false
      - UID=1000
      - GID=1000
