---
version: '3'
services:
  airsonic:
    image: airsonic/airsonic
    volumes:
      - data:/airsonic/data
      - /home/marv/Media/Musik:/airsonic/music:ro
      - /home/marv/Media/Videos/Movies:/airsonic/movies:ro
      - playlists:/airsonic/playlists
      - podcasts:/airsonic/podcasts
    networks:
      - nginx_backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonic.rule=Host(`sonic.xsfx.name`)"
      - "traefik.http.routers.sonic.entrypoints=web"
      - "traefik.http.routers.sonic.middlewares=redirect-to-https@file"
      - "traefik.http.routers.sonic-secured.rule=Host(`sonic.xsfx.name`)"
      - "traefik.http.routers.sonic-secured.entrypoints=websecure"
      - "traefik.http.routers.sonic-secured.tls.certresolver=myhttpchallenge"
      - "traefik.http.services.sonic-secured.LoadBalancer.server.Port=4040"
networks:
  nginx_backend:
    external: true
volumes:
  data:
  playlists:
  podcasts:
