version: "3.3"
services:
  traefik:
    image: "traefik:v2.0.4"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "./traefik.yaml:/traefik.yaml"
      - "./dynamic_conf.yaml:/dynamic_conf.yaml"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - nginx_frontend
      - nginx_backend
    logging:
      driver: json-file
      options:
        max-size: "200K"
        max-file: "10"
  whoami:
    image: containous/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`whoami.xsfx.name`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls.certresolver=myhttpchallenge"
    networks:
      - nginx_backend
networks:
  nginx_frontend:
  nginx_backend:
    external: true
