version: '3'
services:

  nextcloud:
    build:
      context: nginx/
    volumes:
      - nextcloud:/var/www/html
      - /srv/www/nextcloud/apps:/var/www/html/apps
      - /srv/www/nextcloud/custom_apps:/var/www/html/custom_apps
      - /srv/www/nextcloud/config:/var/www/html/config
      - /srv/www/nextcloud/data:/var/www/html/data
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - nextcloud_backend
      - nginx_backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`cloud.xsteadfastx.org`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=myhttpchallenge"

  app:
    image: nextcloud:fpm
    volumes:
      - nextcloud:/var/www/html
      - /srv/www/nextcloud/apps:/var/www/html/apps
      - /srv/www/nextcloud/custom_apps:/var/www/html/custom_apps
      - /srv/www/nextcloud/config:/var/www/html/config
      - /srv/www/nextcloud/data:/var/www/html/data
    networks:
      - nextcloud_backend

  redis:
    image: redis:alpine
    networks:
      - nextcloud_backend

volumes:
  nextcloud:

networks:
  nginx_backend:
    external: true
  nextcloud_backend:
