---
version: '3'
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    network_mode: "host"
    volumes:
      - "/srv/www/jellyfin/config:/config"
      - "/srv/www/jellyfin/cache:/cache"
      - "/home/marv/Media/Videos:/media/Videos:ro"
networks:
  nginx_backend:
    external: true

